*.bak

*.pyc

*.xml

*.tar.gz

*.iml

*.zip

*.icls

/_windows/

/codestyles/

# Temp
build/
dist/
*.egg-info/
colors
setup.py


# IDE
.idea/

# jupyter
.ipynb_checkpoints
#docs/source/_static/
#docs/source/_templates/
docs/source/_static/
docs/source/_templates/
