beautifulsoup4>=4.9.1
lxml>=4.2.1
pandas>=0.25
requests>=2.22.0
urllib3>=1.25.8
pypinyin>=0.35.0
websocket-client>=0.56.0
html5lib>=1.0.1
tqdm>=4.43.0
xlrd>=1.2.0
openpyxl>=3.0.3
jsonpath>=0.82
tabulate>=0.8.6
decorator>=4.4.2
py_mini_racer>=0.6.0
requests-cache>=0.9.3
cfscrape>=2.1.1
commitizen>=2.35.0
pre-commit>=2.20.0
sphinx>=5.2.3
recommonmark>=0.7.1
sphinx_markdown_tables>=0.0.17
sphinx_rtd_theme>=1.0.0