bs4>=0.0.1
lxml>=4.2.1
matplotlib>=3.1.1
numpy>=1.17.2
pandas>=0.25.1
requests>=2.22.0
urllib3>=1.25.6
sphinx-markdown-tables>=0.0.10
demjson>=2.2.4
pyexecjs>=1.5.1
pillow>=6.2.1
pypinyin>=0.35.0
websocket-client>=0.56.0
pytrends>=4.7.2
pycryptodomex>=3.9.4
html5lib>=1.0.1
websockets>=8.1
# newspaper3k>=0.2.8
requests-html>=0.10.0
scikit-learn>=0.22
fonttools>=4.2.2
xlrd>=1.2.0
