beautifulsoup4>=4.9.1
lxml>=4.2.1
matplotlib>=3.1.1
numpy>=1.17.2
pandas>=0.25
requests>=2.22.0
urllib3>=1.25.6
demjson>=2.2.4
pyexecjs>=1.5.1
pillow>=6.2.1
pypinyin>=0.35.0
websocket-client>=0.56.0
html5lib>=1.0.1
scikit-learn>=0.22
fonttools>=4.2.2
xlrd>=1.2.0
tqdm>=4.43.0
openpyxl>=3.0.3
jsonpath>=0.82
tabulate>=0.8.6
decorator>=4.4.2
