[Unit]
Description=bfq_daily_stock_price_sz_main daily sync script service

[Service]
Type=oneshot
ExecStart=/bin/bash /home/arrow/code/invest/takshare/data_2_local/sh/bfq_daily_stock_price_sz_main_2_local.sh
User=arrow