[Unit]
Description=Run bfq_daily_stock_price_sz_main_2_local.sh periodically

[Timer]
# 时区问题：systemd 默认使用 UTC 时间，00:00 UTC 对应北京时间的 08:00
OnCalendar=*-*-* 18:01:00
Persistent=true

[Install]
WantedBy=timers.target
